<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html>
	<body style='font-family: sans-serif; color: black;'>
		<h1>
			<%- title %> 
		</h1>
		<div>
			<%- summary %> 
		</div>
	</body>
</html>
